@charset "utf-8";

/* CSS Document */
/****MAIN*****/
/*********************************MEDIA FOR TABLET MAIN PAGE **************************/
@media only screen and (min-width: 490px)
{
.MobileResponsive nav
{display:none;
	}
	.MobileResponsive
{color:white;}
	.MainMobileImage
	{
		display:none;
	}
}
@media only screen and (Max-width: 600px)
{
	.imageContainer{
		background-color: black;
		width:100%;
	}
	/*.imageContainer h2
	{
		position:relative;
		color:#FFC0CB;
		font-family: 'Gloria Hallelujah', cursive;
		margin-left:12%;
		margin-bottom:0%;
		background-color:black;
	}*/
	.MainMobileImage
	{ 	
	
		position: absolute;
		background-image:url(file:///C:/Users/madin/Desktop/git/webauth/assests/AnneMarieMobile.JPG);
		margin-top:25%;
		width:100%;
		height:85%;
	}
	
	.MobileResponsive h2
{ background-color: black;
	position:relative;
	display:flex;
	color:deeppink;
	font-size:50px;
	margin-top:0%;
	width:105%;
	padding-left:20%;
	text-align:center;
	font-family: 'Gloria Hallelujah', cursive;
	}
	.MobileResponsive nav
	{z-index: 3;
		position:absolute;
		 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
		margin-left:0%;
		font-size:50px;
		display:block;
		width:30%;
		
	}

.MobileResponsive a{
	text-decoration:none;
	padding: 5%;
	
	margin-left:0%;
	color:#67fcf4;
	font-size: 30px;
	

}
	.MobileResponsive a:hover {background-color: #F1FF89;}


	.heart
	{display:none;}
	.subnews h3
	
	{ display:none;
	}
	.MainBox
	{
		display:none;
	}
	.MainBox1
	{
		display:none;
	}
	.animate
	{display:none;
	}
	.container
	{
		display:none;
	}
	#socail .fa
{
	display:inline-block;
	
	}
	#socail{
		margin-top:55%;
		margin-left:80%;
	display:inline-block;
		width:80%;
	
	}
	.StandardDesign
	{
		display:none;
	}
	
}
@media only screen and (max-width: 480px){
	
	.MainMobileImage
	{ 
		width:460px;
		
	}
	footer{
		margin-top:118%;
	}

	
	
	.MobileResponsive a:hover {background-color: #F1FF89;}

}

/************ Tour ******/

@media only screen and (Max-width: 600px)  /******************for tablet***************/
{
.animate {
	padding-left: 10%;
	font-size: 50px;
}
.stack {
	font-size: 8em;
	padding-top: 42%;
	padding-left: 75%;
}
.tourcontainer {
	padding-left: 15%;  /*Some padding to stop it going over tour */
	font-size: 13px;
}
#map {
	margin-left: 14%;
	width: 60%;
	height: 40%;
}
.flamingobackground {
	display: none;
}
#SocailTour .fa {
	display: block;
}
}
@media all and (max-width: 480px)/* ***********************for mobile**************************/ 
{
.stack {
	font-size: 5em;
	padding-top: 50%;
	padding-left: 80%;
}
.flamingobackground {
	display: none;
}
#map {
	margin-left: 10%;
	width: 70%;
	height: 40%;
}
.tourcontainer {
	padding-left: 10%;  /*Some padding to stop it going over tour */
	font-size: 13px;
}
#SocailTour .fa {
	width: 45px;
	padding: 10px;
}
}

/************ News *******/
@media only screen and (Max-width: 600px) {
.animateTwo span {
	font-size: 50px;
	margin: 20px 0 0;
}
.animateTwo {
	margin-left: 30%;
	margin-top: 1%;
}
.Line2New {
	margin-left: 20%;
}
.animateHover1 {
	margin-left: 40%;
}
#SocailTour {
	position: fixed;
	display: block;
	width: 10%;
	height: 1%;
}
/********NOT WORKING********/
.typewriter h1 { display:none;
}

}

@media all and (max-width: 380px) {
.animateTwo span {
	background-color:black;
	font-size: 40px;
	margin: 20px 0 0;
}
.animateTwo {
	margin-left: 30%;
	margin-top: 1%;
}
.typewriter h1 {
	font-size: 25px;
}
.animateHover1 {
	margin-left: 35%;
}
#SocailTour {
	position: fixed;
	display: block;
	width: 10%;
	height: 1%;
}
#SocailTour .fa {
	display: block;
}

}

/*********** Merch ******/

@media only screen and (Max-width: 600px) {
.dragimages {
	display: none;
}
.dragimagestitle {
	display: none;
}
.dragimage2 {
	display: none;
}
.PersonalisedDrag {
	display: none;
}
#SaveButton {
	display: none;
}
#DeleteButton {
	display: none;
}
#canvas {
	display: none;
}
h1 {
	display: none;
}
.SpotifyPlaylistMerch {
	display: block;
	font-family: 'Gloria Hallelujah', cursive;
	padding-left: 9%;
}
.SpotifyPlaylistMerch h3 {
	margin-left: 10%;
}
#SocailMerch {
	margin: 5px;
	width: 4%;
	height: 50%;
	position: fixed;
	display: block;
	padding: 5px;
}
.animateMerch {
	font-size: 60px;
	margin: 20px 0 0;
}
.Line {
	margin-left: 18%;
	width: 70%;
}
.Line2 {
	margin-left: 18%;
}
.SpotifyPlaylistMerchMobile {
	display: none;
}
#footer {
	margin: 1px;
	margin-left: 2%;
}
#footer a {
	font-size: 10px;
}
}

@media all and (max-width: 480px) {
.animateMerch span {
	font-size: 40px;
}
	
.SpotifyPlaylistMerchMobile {
	display: block;
	font-family: 'Gloria Hallelujah', cursive;
	padding-left: 12%;
}
.SpotifyPlaylistMerchMobile h3 {
	margin-left: 10%;
}
.SpotifyPlaylistMerch {
	display: none;
}
#SocailMerch {
	margin: 5px;
	width: 3%;
	height: 50%;
	position: fixed;
	display: block;
	padding: 5px;
}
.animateMerch {
	font-size: 60px;
	margin: 20px 0 0;
}
.Line {
	margin-left: 18%;
	width: 70%;
}
.Line2 {
	margin-left: 18%;
}
#footer a {
	font-size: 6px;
	display: inline;
}
}

/*
*********** Videos ******/
@media all and (max-width: 600px) {


#socail {
	display: none;
}
#SocailMediaQ {
	display: list-item;
	width: 10%;
	height: 20%;
	position: fixed;
}
Line2New {
	margin-left: 20%;
}
.Line2Video {
	margin-left: 20%;
}
.animateTwo {
	margin-left: 10%;
	font-size: 50px;
}
.SpotifyPlaylist {
	margin-left: 15%;
}
.html5gallery img {
	margin: 5%;
	width: 300px;
	height: 300px;
}
}

@media all and (max-width: 480px) /*DONE*/ {
.Title h2 {
	font-family: 'Gloria Hallelujah', cursive;
	margin-left: 45%;
	font-size: 20px;
}
	.html5gallery 
	{ margin-left:20%;
	}
#socail {
	display: none;
}
#SocailMediaQ {
	display: list-item;
	width: 10%;
	height: 20%;
	position: fixed;
}
.Line2New {
	margin-left: 20%;
}
.Line2Video {
	margin-left: 20%;
}
.animateTwo {
	margin-left: 10%;
	font-size: 50px;
}
.SpotifyPlaylist {
	margin-left: -1%;
	width: -30%;
	height: -10%;
}
	.html5gallery img {
	margin-left:0%;
	width: 300px;
	height: 300px;
}
}

/*********** Sign Up******/
@media all and (max-width: 600px) {
	.Details
{
	margin-left: 10%;
	font-size: 15px;
	color:dimgray;
}

#Contact {
	width: 90%;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 8%;
}
#SocailMedia {
	margin: 10%;
	padding-bottom: 10%;
}
#SocailMedia p {
	background-color: green;
}
.facebook {
	display: inline;
	width: 40%;
	padding: 5px;
	font-size: 20px;
	margin: 3%;
	border-radius: 2%;
	margin-left: 10px;
}
.twitter {
	display: inline;
	width: 40%;
	padding: 5px;
	font-size: 20px;
	margin: 3%;
	border-radius: 2%;
	margin-left: 10px;
}
.youtube {
	display: inline;
	width: 40%;
	padding: 5px;
	font-size: 20px;
	margin: 3%;
	border-radius: 2%;
	margin-left: 10px;
}
.instagram {
	display: inline;
	width: 40%;
	padding: 5px;
	font-size: 20px;
	margin: 3%;
	border-radius: 2%;
	margin-left: 10px;
}
.spotify {
	display: inline;
	width: 40%;
	padding: 5px;
	font-size: 20px;
	margin: 3%;
	border-radius: 2%;
	margin-left: 10px;
}
#SocailMedia p {
	font-family: 'Gloria Hallelujah', cursive;
}
#FooterSign {
	display: none;
}
}
